@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    font-family: 'Roboto', sans-serif;
}

/* start header here */
header {
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.logo-image {
    width: 100px;
    height: 100px;
}

.button-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 10px;

    width: 100px;
    height: 50px;
    background-color: green;
    color: white;
    
}

.acces-cours {
    display: flex;
    justify-content: space-around;
    align-items: center;

    background-image: url(./assets/background-green.jpeg);
    background-size: 15px 15px;
    background-repeat: repeat;
}

/* start left part of main section here */

.left-part {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 500px;
    background-image: url(./assets/background-green.jpeg);
    background-size: 15px 15px;
    background-repeat: repeat;
}

.left-part-title {
    font-size: 50 px;

}

.left-part-button {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 50px;
    width: 200px;
    font-size: 10px;
    border-radius: 5px;
    background-color: black;
    color: white;
}

/* start right part of main section here*/

.right-part {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    border-radius: 20px;

    background-color:white;
    height: 500px;
    width: 350px;
}

.right-part-header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-left: 25px;

    height: 50px;
    width: 300px;
    border-radius: 10px;
    font-size: 30px;
    font-weight: bold;
    
    color: white;
    background-image: url(./assets/background-blue.png);
    background-size: 15px 15px;
    background-repeat: repeat;
}

.right-part-middle-items {
    margin-left: 25px;
}

.right-part-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.right-part-text-title {
    font-size: 30px;
    font-weight: bold;
}

.check-image {
    height: 20px;
    width: 20px;
}

.right-part-footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 25px;
}
.burger-image {
    height: 50px;
    width: 50px;
    margin-left: 10px;
}

/* start 2nd screeshot here*/
.cours-dispos {
    background-color: white;
}

.cours-dispos-header {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-weight: bold;
    height: 200px;
}

.cours-dispos-header-title {
    font-size: 40px;
}
.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    color: white;
}

.cart {
    height: 400px;
    width: 250px;
    margin-top: 20px;
    margin-right: 40px;
    margin-left: 40px;

    border-radius: 20px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    box-shadow: 10px 10px 10px grey;
    background-color: white;
    color: black;


}

.selected {
    border: solid 40px pink;
}
.cart-image {
    border-radius: 10px 10px 0 0;
    height: 130px;
    width: 250px;
}

.cart-title {
    font-size: 30px;
    font-weight: bold;
}

.cart-description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cart-description-title {
    margin-bottom: 20px;
}

.cart-description-subtitle {
    width: 200px;
    text-align: center;
}


.cart-button {
    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 10px;
    height: 50px;
    width: 150px;

    margin-bottom: 10px;
    background-color: black;
    color: white;
}